<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.peaktop.Model.Mapper.PictureMapper">
  <resultMap id="BaseResultMap" type="top.peaktop.Model.Picture">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="is_deleted" jdbcType="TINYINT" property="isDeleted" />
    <result column="creator_id" jdbcType="BIGINT" property="creatorId" />
    <result column="album_id" jdbcType="BIGINT" property="albumId" />
    <result column="dynamic_id" jdbcType="BIGINT" property="dynamicId" />
    <result column="save_path" jdbcType="VARCHAR" property="savePath" />
  </resultMap>
  <sql id="Base_Column_List">
    id, gmt_create, gmt_modified, is_deleted, creator_id, album_id, dynamic_id, save_path
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from picture
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from picture
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="top.peaktop.Model.Picture">
    insert into picture (id, gmt_create, gmt_modified, 
      is_deleted, creator_id, album_id, 
      dynamic_id, save_path)
    values (#{id,jdbcType=BIGINT}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, 
      #{isDeleted,jdbcType=TINYINT}, #{creatorId,jdbcType=BIGINT}, #{albumId,jdbcType=BIGINT}, 
      #{dynamicId,jdbcType=BIGINT}, #{savePath,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="top.peaktop.Model.Picture">
    insert into picture
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="creatorId != null">
        creator_id,
      </if>
      <if test="albumId != null">
        album_id,
      </if>
      <if test="dynamicId != null">
        dynamic_id,
      </if>
      <if test="savePath != null">
        save_path,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="creatorId != null">
        #{creatorId,jdbcType=BIGINT},
      </if>
      <if test="albumId != null">
        #{albumId,jdbcType=BIGINT},
      </if>
      <if test="dynamicId != null">
        #{dynamicId,jdbcType=BIGINT},
      </if>
      <if test="savePath != null">
        #{savePath,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="top.peaktop.Model.Picture">
    update picture
    <set>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="creatorId != null">
        creator_id = #{creatorId,jdbcType=BIGINT},
      </if>
      <if test="albumId != null">
        album_id = #{albumId,jdbcType=BIGINT},
      </if>
      <if test="dynamicId != null">
        dynamic_id = #{dynamicId,jdbcType=BIGINT},
      </if>
      <if test="savePath != null">
        save_path = #{savePath,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="top.peaktop.Model.Picture">
    update picture
    set gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=TINYINT},
      creator_id = #{creatorId,jdbcType=BIGINT},
      album_id = #{albumId,jdbcType=BIGINT},
      dynamic_id = #{dynamicId,jdbcType=BIGINT},
      save_path = #{savePath,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>