<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.peaktop.Model.Mapper.ThumbupMapper">
  <resultMap id="BaseResultMap" type="top.peaktop.Model.Thumbup">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="dynamic_id" jdbcType="BIGINT" property="dynamicId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, dynamic_id, user_id, gmt_create
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from thumbup
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from thumbup
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="top.peaktop.Model.Thumbup">
    insert into thumbup (id, dynamic_id, user_id, 
      gmt_create)
    values (#{id,jdbcType=BIGINT}, #{dynamicId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, 
      #{gmtCreate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="top.peaktop.Model.Thumbup">
    insert into thumbup
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="dynamicId != null">
        dynamic_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="dynamicId != null">
        #{dynamicId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="top.peaktop.Model.Thumbup">
    update thumbup
    <set>
      <if test="dynamicId != null">
        dynamic_id = #{dynamicId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="top.peaktop.Model.Thumbup">
    update thumbup
    set dynamic_id = #{dynamicId,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=BIGINT},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>